{
  "branches": [
    {
      "name": "main",
      "channel": "latest",
      "prerelease": false
    },
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Project Changelog"
      }
    ],
    "@semantic-release/npm",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm version ${nextRelease.version} --workspace=@devterm-toolbox/electron && npm version ${nextRelease.version} --workspace=@devterm-toolbox/frontend && npm version ${nextRelease.version} --workspace=@devterm-toolbox/web"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "CHANGELOG_PROJECT.md",
          "package.json",
          "package-lock.json",
          "npm-shrinkwrap.json",
          "packages/electron/package.json",
          "packages/frontend/package.json",
          "packages/web/package.json"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": []
      }
    ]
  ]
}